
.add {
    border-radius: 50px;
    border: none;
    background-color: rgba(218, 165, 32, 0.478);
    height: 54px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://plus.unsplash.com/premium_photo-1683309568772-57011d6c1b7b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;

}
.input{
    border-radius: 10px;
    border: none;
}
.addImage {
    transition: transform 0.3s ease; /* Smooth animation */
  }
  
  .add:hover .addImage {
    transform: scale(1.2); /* Increase the size by 20% */
    transform: rotate(90deg);
  }
